@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --color-primary: #FA320A;
  --color-card: #141414;
  --color-card-border: #222222;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
